*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --btn-width: 150px;
  --btn-height: 70px;
}

body {
  margin: 0;
  font-family: "Roboto", "Ubuntu", BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 0, 0, 0.9);
  position: relative;
  font-size: 1.5rem;
  color: rgb(14, 237, 29);
  border: 1px solid white;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  width: var(--btn-width);
  height: var(--btn-height);
  font-size: 1.5rem;
}
.step1,
.step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border: 10px solid white;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.step1 {
  font-size: 1.5rem;

  border: 10px solid white;
}
select,
input {
  width: 300px;
  height: 50px;
  font-size: 1.5rem;
  padding-left: 80px;
  position: relative;
  color: rgb(14, 66, 237);
  font-weight: 500;
}
option {
  font-size: 1.5rem;
  background-color: black;
  color: white;
  border-color: white;
  text-align: center;
}

input:hover {
  cursor: text;
}
button {
  margin: 10px;
}
